 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/3459d6ec9aedd3411aefe16c3801fe9932c5e32663d7a853af3ef1b8cd9f4c753993cdd50eb91b43bdff42406f9f50a1cab55465044c6e69afa26b_1280.jpg");
  min-height: 570px;
  background-position: 50% 50%;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 185px auto 0 calc(((100% - 1140px) / 2) + 416px);
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 368px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 40px auto 60px calc(((100% - 1140px) / 2) + 501px);
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 569px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 186px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 429px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-text-1 {
  margin-top: 11px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-blog-1 {
  margin-top: 11px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 669px;
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

.u-section-2 .u-metadata-1 {
  margin: 9px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 315px;
  right: 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-metadata-1 {
    width: auto;
    margin-top: 487px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -505px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-blog-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-metadata-1 {
    margin-top: -1px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 9px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 458px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -534px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-left: 10px;
  }
}