 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 643px;
}

.u-section-1 .u-text-1 {
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-2 {
  margin: 15px 642px 0 15px;
}

.u-section-1 .u-line-1 {
  width: 555px;
  transform-origin: left center 0px;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 15px auto 60px 138px;
  padding: 10px 8px 10px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 457px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 57px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}